{% extends 'base.html' %}
{% block content %}



<h1>체크한 증상에 따라 발생가능한 암입니다. <br>자세히 보기를 클릭하여 정보를 확인해보세요!</h1><br><br>
<!-- <h2>{{whole}}</h2>
{% for any in whole %}
    <p>{{ forloop.counter }} . {{ any }}</p>
{% endfor %} -->

{% if '위암' in whole %}
    <a href="{% url 'stomach' %}">위암 자세히 보기 <br> </a>
{% endif %}
{% if '자궁경부암' in whole %}
    <a href="{% url 'cervical' %}">자궁경부암 자세히 보기 <br> </a>
{% endif %}
{% if '갑상선암' in whole %}
    <a href="{% url 'thyroid' %}">갑상선암 자세히 보기 <br> </a>
{% endif %}
{% if '바터팽대부암' in whole %}
    <a href="{% url 'vater' %}">바터팽대부암 자세히 보기 <br> </a>
{% endif %}
{% if '폐암' in whole %}
    <a href="{% url 'lung' %}">폐암 자세히 보기 <br> </a>
{% endif %}
{% if '유방암' in whole %}
    <a href="{% url 'breast' %}">유방암 자세히 보기 <br> </a>
{% endif %}
{% if '간암' in whole %}
    <a href="{% url 'liver' %}">간암 자세히 보기 <br> </a>
{% endif %}

{% endblock %}