{% extends 'base.html' %}
{% block content %}

<style>
    #disease {color:#5A78AF; font-weight: bold;}
    .d_category {
        font-weight: bold;
        font-size: 20px;
        color: #8c8c8c;
        float:left;
    }
    .horizontal {
        color: #5A78AF;
    }
</style>
<div class="category" style="text-align:center">
<h1 id="disease" >해당되는 증상을 모두 체크해주세요.</h1><br>
<ul class = "symptom">
    <div>
        <form action="{% url 'result' %}", method='POST'>
            {% csrf_token %}
            <div>
                <p class="d_category">나이</p>
                <label><input type="radio" name="나이[]" value="위암" {% if 나이.published %}checked{% endif %}> 20~30세</label>
                <label><input type="radio" name="나이[]" value="위암" {% if 나이.published %}checked{% endif %}> 31~40세</label>
                <label><input type="radio" name="나이[]" value="자궁경부암" {% if 나이.published %}checked{% endif %}> 41~50세</label>
                <label><input type="radio" name="나이[]" value="위암" {% if 나이.published %}checked{% endif %}> 51~60세</label>
                <label><input type="radio" name="나이[]" value="위암" {% if 나이.published %}checked{% endif %}> 61~70세</label>
                <label><input type="radio" name="나이[]" value="위암" {% if 나이.published %}checked{% endif %}> 71세 이상</label>
            </div><hr class="horizontal">
            <div>
                <p class="d_category">머리/얼굴</p>
                <label><input type="checkbox" name="머리[]" value="폐암" {% if 머리.published %}checked{% endif %}> 두통</label>
                <label><input type="checkbox" name="머리[]" value="바터팽대부암" {% if 머리.published %}checked{% endif %}> 황달</label>
            </div><hr class="horizontal">
            <div>
                <p class="d_category">배</p>
                <label><input type="checkbox" name="배[]" value="위암" {% if 배.published %}checked{% endif %}> 속 쓰림</label>
                <label><input type="checkbox" name="배[]" value="위암" {% if 배.published %}checked{% endif %}> 복통</label>
                <label><input type="checkbox" name="배[]" value="위암" {% if 배.published %}checked{% endif %}> 복부 팽만</label>
                <label><input type="checkbox" name="배[]" value="위암" {% if 배.published %}checked{% endif %}> 덩어리 만져짐</label>
                <label><input type="checkbox" name="배[]" value="위암" {% if 배.published %}checked{% endif %}> 더부룩함</label>
                <label><input type="checkbox" name="배[]" value="자궁경부암" {% if 배.published %}checked{% endif %}> 생리 불순</label>
                <label><input type="checkbox" name="배[]" value="폐암" {% if 배.published %}checked{% endif %}> 흉부 통증</label>
                <label><input type="checkbox" name="배[]" value="간암" {% if 배.published %}checked{% endif %}> 오른쪽 윗배 통증/덩어리 만져짐</label>
                <label><input type="checkbox" name="배[]" value="간암" {% if 배.published %}checked{% endif %}> 소화 불량</label>
            </div><hr class="horizontal">
            <div>
                <p class="d_category">배변</p>
                <label><input type="checkbox" name="배변[]" value="위암" {% if 배변.published %}checked{% endif %}> 횟수 변화</label>
                <label><input type="checkbox" name="배변[]" value="위암" {% if 배변.published %}checked{% endif %}> 혈변</label>
                <label><input type="checkbox" name="배변[]" value="위암" {% if 배변.published %}checked{% endif %}> 점액변(끈적)</label>
                <label><input type="checkbox" name="배변[]" value="위암" {% if 배변.published %}checked{% endif %}> 설사</label>
                <label><input type="checkbox" name="배변[]" value="위암" {% if 배변.published %}checked{% endif %}> 변비</label>
                <label><input type="checkbox" name="배변[]" value="위암" {% if 배변.published %}checked{% endif %}> 배변 후 변이 남은 느낌</label>
                <label><input type="checkbox" name="배변[]" value="자궁경부암" {% if 배변.published %}checked{% endif %}> 가늘어진 변</label>
            </div><hr class="horizontal">
            <div>
                <p class="d_category">목</p>
                <label><input type="checkbox" name="목[]" value="갑상선암" {% if 목.published %}checked{% endif %}> 혹이 있음</label>
                <label><input type="checkbox" name="목[]" value="갑상선암" {% if 목.published %}checked{% endif %}> 음식물을 삼키기 힘듦</label>
                <label><input type="checkbox" name="목[]" value="갑상선암" {% if 목.published %}checked{% endif %}> 목소리 변화</label>
                <label><input type="checkbox" name="목[]" value="폐암" {% if 목.published %}checked{% endif %}> 쉰 목소리</label>
                <label><input type="checkbox" name="목[]" value="폐암" {% if 목.published %}checked{% endif %}> 기침/객혈</label>
            </div><hr class="horizontal">
            <div>
                <p class="d_category">유방</p>
                <label><input type="checkbox" name="유방[]" value="유방암" {% if 유방.published %}checked{% endif %}>멍울(덩어리)이 만져짐</label>
                <label><input type="checkbox" name="유방[]" value="유방암" {% if 유방.published %}checked{% endif %}> 유방 피부가 두꺼워짐</label>
                <label><input type="checkbox" name="유방[]" value="유방암" {% if 유방.published %}checked{% endif %}>유두에서 피가 섞인 분비물이 나옴</label>
                <label><input type="checkbox" name="유방[]" value="유방암" {% if 유방.published %}checked{% endif %}>유방의 비대칭</label>
            </div><hr class="horizontal">
            <div>
                <p class="d_category">기타</P>
                <label><input type="checkbox" name="기타[]" value='간암'> 무증상</label>
                <label><input type="checkbox" name="기타[]" value='위암'> 체중 감소</label>
                <label><input type="checkbox" name="기타[]" value='간암'> 심한 피로감</label>
                <label><input type="checkbox" name="기타[]" value='위암'> 소화불량</label>
                <label><input type="checkbox" name="기타[]" value='위암'> 근력감소</label>
                <label><input type="checkbox" name="기타[]" value='위암'> 식욕감퇴</label>
                <label><input type="checkbox" name="기타[]" value='바터팽대부암'> 피부 가려움증</label>
                <label><input type="checkbox" name="기타[]" value='폐암'> 뼈 통증/골절</label>
                <label><input type="checkbox" name="기타[]" value='폐암'> 호흡 곤란</label>
            </div><hr class="horizontal">
            <button type="submit">검색하기</button>
        </form>    
    </div>
</ul>
</div>

{% endblock %}
